:root {
  --brand-color:#61DAFB;
  --gray:#3e4450;
  --primary:#3b869b;
  --secondary:#2de072;
  --tertiary:#c94524;
  --black:#343434;
}

.body {
  font-size: calc(0.8em + 1vw);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-name {
  border:2px solid var(--brand-color);
  color:var(--brand-color);
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1em 1.5em;
  transition: all .3s;
}

.app-name:hover {
  border-width: 0px;
  background-color: #61DAFB;
  color: var(--gray);
  border-top-left-radius: 0.9em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 1.8em;
  border-bottom-right-radius: 2em;
}

.map-container {
  height: 100vh;
  width:100vw;
  z-index: 0;
}

.filter-section {
  position:absolute;
  z-index: 1;
  bottom: 2%;
  left: 2%;
}

.filter-section .btn-group {
  display: flex; 
  flex-direction:column;
  height: 20%;
}

.filter-title {
  color:var(--black);
  margin:0.5em;
}

.btn {
  border-radius: 1rem;
  padding:0.4em 1em;
  background-color: var(--gray) !important;
  font-size: 0.8rem;
  border:0px solid #ddd;
  margin-top: 0.3em;
  color:#fff;
  box-shadow: 2px 2px 0.2em #808688;
}


.btn.btn-primary {
  background-color: var(--primary);
}

.btn.btn-secondary {
  background-color: var(--secondary);
}

.btn.btn-tertiary {
  background-color: var(--tertiary);
}

.btn.active {
  background-color: var(--brand-color);
  color:var(--gray)
}

.leaflet-touch .leaflet-bar {
  border:0px !important;
  display: flex;
}

.leaflet-touch .leaflet-bar a { 
  border-radius: 50% !important;
  margin: 5px;
  border:0px !important;
  background-image: linear-gradient(45deg, var(--brand-color), #a22c9900);
  color: var(--gray);
  box-shadow: 2px 4px 0.2em var(--gray);
}

.leaflet-popup-pane { 
  z-index: 500 !important;
}

.leaflet-popup-content-wrapper {
  text-align: left;
  border-radius: 12px;
  overflow: hidden;
  /* width: 220px;
  margin-left: 40%; */
  margin-bottom: -32px;
}

.leaflet-container a.leaflet-popup-close-button {
  color:#fff;
  /* right:-28%; */
}

.leaflet-popup-tip-container {
  display: none;
}
.leaflet-popup-content {
  margin: 0;
  overflow: hidden;
  width: 100% !important;
  margin-bottom: -10px;
}
.popup-content {
  width: 250px;
}

.popup-content img {
  width: 100%;
  height: 100%;
}


.popup-content button {
  position: absolute;
  right: 0;
  bottom: -25%;
  border: 0px;
  background-color: transparent;
  color: white;
}

.custom-icon {
  background-color: var(--primary);
  padding:4px;
  border-radius: 50%;
  box-shadow: 2px 2px 0.5em var(--gray);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width:50em) {
  .filter-section .btn-group {
    flex-direction: row;
  }

  .btn {
    margin:0 0.3em;
  }
}